<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        <link rel="stylesheet" href="node_modules/bootstrap-icons/font/bootstrap-icons.min.css">
        <title>{% block title %}{% endblock %} - Arcadia</title>
    </head>
    <body>
        <header class="navbar">
            <div class="container navbar-expand-lg d-flex align-items-center justify-content-between py-2 mx-4 mx-lg-auto">
                    <div class="logo">
                        <a href="{{path('app_home')}}" class="">
                        <img class="img-fluid" src="{{ asset('images/logo-arcadia.png') }}" alt="Logo Arcadia">
                        </a>
                    </div>

                    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="bi bi-list"></i>
                    </button>
                    

                    <nav class="navbar-collapse collapse justify-content-end text-uppercase py-3" id="navbarScroll">
                        <ul class="nav navbar-nav nav-pills">
                            <li class="nav-item me-3"><a href="/le-parc" class="nav-link">Le parc</a></li>
                            <li class="nav-item me-3"><a href="{{path('app_animals')}}" class="nav-link">Les animaux</a></li>
                            <li class="nav-item me-3"><a href="/infos-pratiques" class="nav-link">Infos pratiques</a></li>
                            <li class="nav-item me-3"><a href="/activites" class="nav-link">Activités</a></li>
                            <li class="nav-item me-3"><a href="{{path('app_contact')}}" class="nav-link">Contact</a></li>
                            <li class="nav-item"><a href="/admin" class="nav-link">Connexion</a></li>
                        </ul>
                    </nav>
                </div>
        </header>


        <main id="main-page">
            <!-- Le contenu du site sera injecté ici -->
            {% block body %}{% endblock %}
        </main>

        <footer>
            <div class="container m-4 mx-lg-auto">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12 my-3">
                        <h3>Parc Animalier Arcadia</h3>
                        <p>
                            Route d'Anzat <br>
                            63420 Ardes-sur-Couze
                         </p>
                        <p>
                            Ouvert de février à décembre <br>
                            y compris les jours fériés
                        </p>
                        <a href="/contact">Contactez-nous</a>
                    </div>
                        <div class="col-lg-4 col-md-4 col-12 my-3">
                            <h3>Nos engagements</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">Protégeons les espèces rares et menacées</a></li>
                                <li><a href="#">Sensibilisons à la biodiversité</a></li>
                                <li><a href="#">Agissons pour le bien-être des animaux</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li><a href="#">Presse</a></li>
                                <li><a href="#">Entreprises, CSE </a></li>
                                <li><a href="#">colaires et centres de loisirs</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12 my-3">
                            <h3>Préparer sa visite</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">J'achète mes billets</a></li>
                                <li><a href="#">Je prépare ma visite</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                            <ul class="d-flex list-unstyled">
                                <li class="me-3"><a href="#"><i class="bi bi-instagram"></i></a></li>
                                <li class="me-3"><a href="#"><i class="bi bi-tiktok"></i></a></li>
                                <li class="me-3"><a href="#"><i class="bi bi-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </footer>

        <script src="js/script.js"></script>
        <script type="module" src="Router/Router.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
